# deps
node_modules
.pnpm-store

# build
dist
.turbo
.angular
coverage

# env
.env
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# prisma generated
apps/api/prisma/generated
